<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmZErnvpnoyIuXLE6GQEvWhwlChRO4s2w</string>
	<key>GCM_SENDER_ID</key>
	<string>1055404240058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSns</string>
	<key>PROJECT_ID</key>
	<string>flutter-sns-29b71</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-sns-29b71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055404240058:ios:48ec7d99c0d20c4384e683</string>
</dict>
</plist>